body {
    margin: 0;
    text-align: center;
    background-color: #21295c;
}

.container {
    display: flex;
    justify-content: space-around;
}

.board-title {
    color: #EEE;
    font-family: 'Verdana';
    font-weight: 700;
    font-size: 40px;
    height: 35px;
    width: 120px;

}

h4 {
    background-color: #0a0001;
    border-radius: 10px;
    color: #F94F6D;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-weight: 400;
    margin-top: 21px;
    margin-bottom: 26px;
}

button {
    background: none;
    border: solid 2px #C8E0F4;
    border-radius: 10px;
    color: #C8E0F4;
    font-family: Cursed Timer ULiL;
    padding: 15px;
    margin: 0 5px 70px 5px;
}